<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div id="title">
            <h1>Spring WebFlux + Thymeleaf</h1>
        </div>
        <table id="allMovies" class="table table-striped">
            <thead>
            <tr>
                <th width="30%">ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr class="result" data-th-each="person : ${people}">
                <td>[[${person.id}]]</td>
                <td>[[${person.name}]]</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="chart_div"></div>
</div>
</body>
</html>